body {
	margin: 0;
	background: black;
	color: white;
	font-family: monospace;
	overflow: hidden;
}
* {font-family:monospace}
* a {color: inherit;}
#camera {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
    height: 100vh;
    width: 100vw;
    opacity: 0.3;
	pointer-events: none;
}
#debug {
	display: none;
	color: red;
	font-size: 30px;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
}
canvas {
	width: 100vw;
	height: 100vh;
	cursor: move;
	cursor: grab;
}
canvas:active {
	cursor: grabbing;
}

#filter {
	/* background: red; */
	z-index: 10;
	opacity: 0.3;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	pointer-events: none;
}

#info_left {
	user-select: none;
	color: grey;
	position: fixed;
	bottom: 0;
	padding: 5px;
	left: 0;
	font-size: 10px;
	pointer-events: none;
}
#info_right {
	user-select: none;
	position: fixed;
	bottom: 0;
	padding: 5px;
	right: 0;
	font-size 10px;
	color: grey;
	/* pointer-events: none; */
}
#info_top_left {
	user-select: none;
	position: fixed;
	top: 0;
	padding: 5px;
	left: 0;
	font-size 30px;
	color: white;
}
#info_top_right {
	user-select: none;
	text-align: right;
	position: fixed;
	top: 0;
	padding: 5px;
	right: 0;
	font-size 10px;
	color: grey;
}
#info_top_left a {
	color: white;
}
button {
	font-family: monospace;
	background: none;
	border: none;
	color: grey;
	cursor: pointer;
}
#modal {
	display: none;
	position: fixed;
	top: 25vh;
	left: 25vw;
	width: 50vw;
	max-height: 50vh;
	padding: 30px;
	box-sizing: border-box;
	overflow: auto;
	background: black;
	border: 1px solid white;
}
#modal_content {user-select: text}
#close {
	position: absolute;
	color: red;
	right: 3px;
	top: 3px;
}

@media (max-width: 500px) {
	#modal {
		top: 5vh;
		left: 5vw;
		width: 90vw;
		max-height: 90vh;
	}
}
