body {
	margin: 0;
	background: black;
	color: white;
	font-family: monospace;
	overflow: hidden;
}
#camera {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
    height: 100vh;
    width: 100vw;
    opacity: 0.3;
	pointer-events: none;
}
#debug {
	color: red;
	font-size: 30px;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
}
canvas {
	width: 100vw;
	height: 100vh;
	cursor: move;
	cursor: grab;
}
canvas:active {
	cursor: grabbing;
}

#filter {
	/* background: red; */
	z-index: 10;
	opacity: 0.3;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	pointer-events: none;
}

#info_left {
	color: grey;
	position: fixed;
	bottom: 0;
	padding: 5px;
	left: 0;
	font-size: 10px;
	pointer-events: none;
}
#info_right {
	position: fixed;
	bottom: 0;
	padding: 5px;
	right: 0;
	font-size 10px;
	color: grey;
	font-size: 10px;
	/* pointer-events: none; */
}
button {
	background: none;
	border: none;
	color: grey;
	cursor: pointer;
}
